@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Calaya";
  src: url("/fonts/CalayaRegular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@import "components/typography";
@import "components/buttons";
@import "components/cards";
@import "components/tables.scss";
@import "components/accordions.scss";
@import "components/tabs.scss";
@import "components/forms.scss";
